@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared color */
.dark-1 {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
}
.color-4 {
  color: rgba(255, 144, 14, 1);
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.bg-color-2 {
  background-color: rgba(255, 144, 14, 1);
}

/* shared style*/
.display-flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.para-text {
  font-size: 1rem;
  font-weight: 400;
}
.section-para {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
}
.primary-btn {
  padding: 20px 24px;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

/* nav style */

li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500;
}
nav li {
  list-style: none;
}
.navbar {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 50px;
  margin-bottom: 80px;
}
.navbar ul {
  gap: 30px;
}
.logo {
  font-size: 2.9rem;
  font-weight: 700;
}

/* hero style */
.hero .desc {
  max-width: 850px;
  margin: 0 auto;
}
.hero .image {
  margin: 0 auto;
}
.hero-heading {
  font-size: 3.8rem;
  font-weight: 700;
}
.desc button {
  margin: 30px 0 50px 0;
}
.desc p {
  margin-top: 20px;
  padding: 10px;
}
.image {
  max-width: 1440px;
  padding: 10px;
}
.image img {
  width: 100%;
  border-radius: 8px;
}
header {
  padding-bottom: 45px;
}

/* main style */

/* feature section */
main,
footer {
  max-width: 1440px;
  margin: 0 auto;
}
.features {
  margin: 85px 30px 130px 30px;
  align-items: center;
  gap: 75px;
}
.feature-desc {
  max-width: 535px;
  padding: 10px;
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-title {
  font-size: 2.9rem;
  font-weight: 700;
}
.span1 {
  font-weight: 500;
}
.feature-para {
  margin: 24px 0 32px 0;
}

/* feature-details style */
.feature-details {
  gap: 140px;
  align-items: center;
  justify-content: center;
}
.description {
  max-width: 586px;
}

.description h2 {
  font-size: 2.8rem;
  font-weight: 700;
  padding-left: 21px;
  border-left: 7px solid #ff900e;
}
.description > p {
  margin: 24px 0 30px 0;
  padding: 10px;
}
.all-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.details {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.details h4 {
  font-size: 1.25rem;
  font-weight: 600;
}
.details p {
  margin-top: 10px;
}
.exp-image {
  position: relative;
  bottom: 35px;
}

.exp-image img {
  width: 100%;
}
.exp-image button {
  padding: 45px 42px;
  border: none;
  border-radius: 8px;
  margin-left: -92px;
  margin-top: -120px;
}
.exp-image button h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
}
.exp-image button p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
/* some-facts style */
.some-facts {
  margin-top: 100px;
  margin-bottom: 170px;
}
.some-facts > p {
  max-width: 540px;
  margin-top: 24px;
  margin-bottom: 100px;
  padding: 10px;
}
.some-facts > h2 {
  font-size: 2.8rem;
  font-weight: 700;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.card {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ff900e;
}
.card h4 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #424242;
  margin: 10px 0 5px 0;
}
.card p {
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
}
.hide {
  display: none;
}
/* sponsor section style */
.sponsor {
  margin-bottom: 120px;
}
.sponsor > h3 {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
}
.sponsor > p {
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 50px;
  padding: 10px;
}
.sponsor-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 20px;
}
.sponsor-img img {
  filter: grayscale(1);
}
/* footer style */
footer {
  margin-bottom: 200px;
  border-radius: 8px;
  background: #fff4e7;
  padding: 38px 0 38px 0;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .navbar,
  .navbar ul,
  .features,
  .feature-details {
    flex-direction: column;
  }
  .navbar ul {
    align-items: center;
  }
  .feature-images,
  .cards,
  .sponsor-img {
    grid-template-columns: 1fr;
  }
  .card {
    margin-bottom: 30px;
  }

  .exp-image button {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .features,
  .feature-details {
    flex-direction: column;
  }
  .exp-image button {
    display: none;
  }
  .cards,
  .sponsor-img {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsor-img {
    grid-template-rows: repeat(3, 1fr);
  }
  .img-last {
    grid-column: 1/3;
  }
  .card {
    margin-bottom: 30px;
  }
}
